:root {
  --clr-rood: rgb(217,82,57);
  --clr-grijs:rgb(64,64,64);
  --fw-header: bold;
}

body{
  font-family: 'Calibri';
  margin: 0;
  padding: 0;
  color: var(--clr-grijs);
}

h1 {
  color: var(--clr-grijs);
  font-weight: var(--fw-header);
  margin: auto;
  text-align: center;
  padding-top: 20px;
}

span {
  color: var(--clr-rood);
}

ul {
  list-style-type: none;
  margin: 0;
  background-color: var(--clr-rood);
  text-align: center;
}

li {
  display: inline-block;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  padding-bottom: 20px;
  text-decoration: none;
  font-weight: bold;
}

li a:hover:not(.active) {
  text-decoration: underline white;
}

li .active{
  text-decoration: underline white;
}

